@import "./mixin";
.dernier {
    text-align: center;
    margin: auto;
    background-color: yellow;
    padding: 20px;
    @include resp(500px) {
        font-weight: 400;
    }
    &__tit {
        color: $price;
    }
}