* {
    padding: 0;
    margin: 0;
}

@import "./mixin";
body {
    font-family: "Cairo", sans-serif;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    @include resp(450px) {
        font-size: 15px;
    }
}

.navbar {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-image: url("/Design/Assets/SVG/Merged\ bar-1.svg");
    .logo {
        margin-left: 10px;
        margin-top: 10px;
        @include resp(392px) {
            margin-left: 0px;
        }
        img {
            @include resp(392px) {
                width: 50%;
            }
        }
    }
    .menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        &__element {
            margin-left: 30%;
            @include resp(718px) {
                margin-left: 10%;
            }
            @include resp(356px) {
                margin-left: 0%;
            }
            &--item {
                margin: 0 30px;
                @include resp(718px) {
                    margin-left: 0%;
                }
                @include resp(392px) {
                    font-size: 13px;
                }
            }
            &--item1 {
                color: rgb(106, 106, 224);
            }
            &--item3 {
                border: solid 1.5px rgb(106, 106, 224);
                border-radius: 8px;
                color: rgb(106, 106, 224);
                img {
                    width: 15px;
                }
            }
        }
    }
}