* {
    padding: 0;
    margin: 0;
}

@import "./mixin";
body {
    font-family: "Cairo", sans-serif;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-image: url("/Design/Assets/SVG/Merged\ bar-1.svg");
    .logo {
        margin-left: 10px;
        margin-top: 10px;
        @include resp(392px) {
            margin-left: 0px;
        }
        img {
            @include resp(392px) {
                width: 50%;
            }
        }
    }
    .menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        &__element {
            margin-left: 30%;
            @include resp(718px) {
                margin-left: 10%;
            }
            @include resp(356px) {
                margin-left: 0%;
            }
            &--item {
                margin: 0 30px;
                @include resp(718px) {
                    margin-left: 0%;
                }
                @include resp(392px) {
                    font-size: 13px;
                }
            }
            &--item1 {
                color: rgb(106, 106, 224);
            }
            &--item3 {
                border: solid 1.5px rgb(106, 106, 224);
                border-radius: 8px;
                color: rgb(106, 106, 224);
            }
        }
    }
}

.dernier {
    text-align: center;
    margin: auto;
    background-color: yellow;
    padding: 20px;
    &__tit {
        color: rgb(106, 106, 224);
    }
}

.content {
    margin: 1% 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    @include resp(900px) {
        margin: 0;
        display: block;
    }
    &__colum1 {
        &--img1 {
            width: 90%;
        }
    }
    &__colum2 {
        &--text1 {
            color: rgb(91, 91, 253);
            padding: 20px 0px;
        }
        &--text2 {
            padding: 20px 0px;
            color: rgb(114, 114, 119);
        }
        &--but {
            @include btn;
        }
    }
}

.section1 {
    width: 30%;
    text-align: center;
    margin: 20px auto;
    @include resp(900px) {
        width: 80%;
    }
    &__symptomes1 {
        @include symb;
        margin-top: 15px;
        &--element1 {
            img {
                margin: 15px;
            }
        }
    }
    &__symptomes2 {
        @include symb;
        &--ele2 {
            img {
                margin-top: 15px;
            }
        }
    }
}

.section2 {
    background-image: url("/Design/Assets/png/En\ chiffres-1.png");
    color: white;
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    @include resp(750px) {
        display: block;
        text-align: center;
    }
    .para {
        grid-row: 1/2;
        grid-column: 1/3;
        text-align: center;
        @include resp(750px) {
            margin: 10px 0;
        }
    }
    &__part1 {
        padding-left: 50px;
        @include resp(750px) {
            font-size: 20px;
            font-weight: 400;
            padding-left: 0;
        }
        @include resp(750px) {
            font-size: 15px;
        }
    }
    &__part2 {
        text-align: center;
        &--par1 {
            color: rgb(235, 212, 6);
        }
        &--par2 {
            background-image: url("/Design/Assets/png/En\ chiffres-3.png");
            width: 210px;
            margin: 0px auto;
            color: rgb(80, 89, 184);
        }
        &--par3 {
            border-bottom: solid rgb(235, 212, 6) 2px;
            width: 210px;
            margin: auto;
            @include resp(750px) {
                display: none;
            }
        }
    }
}

.section3 {
    background-image: url("/Design/Assets/SVG/Merged\ bar.svg");
    text-align: center;
    &__para {
        color: rgb(80, 89, 184);
        font-size: 30px;
        padding-top: 5px;
    }
    &__img {
        padding: 10px;
    }
    &__btn {
        @include btn;
        width: 35%;
        margin-top: 0px;
        margin-bottom: 20px;
        @include resp(580px) {
            width: 200px;
        }
    }
}

.footer {
    &__img {
        text-align: center;
    }
    &__ele {
        display: flex;
        justify-content: space-around;
        font-size: 18px;
        @include resp(800px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        &--item1 {
            width: 100%;
            text-align: center;
            ul {
                .tradiction {
                    border: solid 1.5px rgb(106, 106, 224);
                    border-radius: 8px;
                    padding: 0;
                    width: 70px;
                    margin: 10px auto;
                    list-style: none;
                    @include resp(900px) {
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
        &--item2 {
            width: 100%;
            text-align: center;
            .para1 {
                color: rgb(106, 106, 224);
            }
            .para3 {
                color: rgb(2, 185, 2);
            }
            .para5 {
                color: rgb(2, 185, 2);
            }
        }
        &--item3 {
            color: #aaa6a6;
            @include resp(800px) {
                grid-row: 2/3;
                grid-column: 1/3;
                text-align: center;
                font-weight: 400;
            }
        }
    }
}