@import "./mixin";
.preambule {
    &__img {
        width: 50%;
        margin-left: 25%;
        @include resp(550px) {
            width: 75%;
            margin-left: 12.5%;
        }
    }
    &__text {
        width: 90%;
        margin: 20px auto;
        background-image: url("/Design/Assets/png/Rectangle\ 1131.png");
        padding: 40px;
        line-height: 30px;
        text-align: center;
        font-weight: 400;
        border-radius: 8px;
        @include resp(1000px) {
            width: 80%;
        }
        @include resp(400px) {
            width: 70%;
        }
        &--tit {
            color: $price;
        }
        hr {
            width: 30%;
            margin: 10px auto;
            background-color: #F4CF1B;
            border: none;
            height: 5px;
            border-radius: 100%;
            @include resp(1000px) {
                width: 60%;
            }
        }
    }
}