@import "./mixin";
.section1 {
    width: 30%;
    text-align: center;
    margin: 10px auto;
    @include resp(900px) {
        width: 80%;
    }
    @include resp(900px) {
        width: 100%;
    }
    &__symptomes1 {
        @include symb;
        &--element2 {
            margin-top: 20px;
        }
        @include resp(400px) {
            display: flex;
            justify-content: space-around;
        }
    }
    &__symptomes2 {
        @include symb;
        &--ele2 {
            margin-top: 10px;
        }
    }
}