@import "./mixin";
.section3 {
    background-color: #D0E5F0;
    text-align: center;
    &__para {
        color: $price;
        font-size: 30px;
        padding-top: 5px;
    }
    &__img {
        padding: 10px;
    }
    &__btn {
        @include btn;
        width: 35%;
        margin-top: 0px;
        margin-bottom: 20px;
        a {
            text-decoration: none;
            color: white;
            font-family: "Cairo", sans-serif;
        }
        @include resp(980px) {
            width: 250px;
            img {
                display: none;
            }
        }
    }
}