@import "./mixin";
.section1 {
    width: 40%;
    text-align: center;
    margin: 10px auto;
    @include resp(900px) {
        width: 80%;
    }
    @include resp(900px) {
        width: 100%;
    }
    h1 {
        color: $price;
    }
    &__symptomes1 {
        @include symb;
        &--element2 {
            margin-top: 20px;
        }
        @include resp(400px) {
            display: flex;
            justify-content: space-around;
        }
    }
    &__symptomes2 {
        @include symb;
        &--ele2 {
            margin-top: 10px;
        }
    }
    &__symptomes3 {
        width: 100%;
        margin: 20px auto;
        color: $price;
        h2 {
            margin: 40px 0;
        }
        &--pad {
            @include symb;
            .coro {
                width: 50%;
                position: relative;
                .img2 {
                    position: absolute;
                    right: 40%;
                    top: 28%;
                    @include resp(900px) {
                        right: 44%;
                    }
                    @include resp(700px) {
                        right: 42%;
                    }
                    @include resp(500px) {
                        right: 40%;
                        top: 26%;
                    }
                    @include resp(375px) {
                        right: 35%;
                    }
                }
            }
            .pep {
                margin-top: 9px;
            }
        }
    }
}

.sym {
    width: 40%;
    margin: auto;
    text-align: center;
    @include resp(400px) {
        width: 100%;
    }
}