@import "./mixin";
.section1 {
    width: 30%;
    text-align: center;
    margin: 20px auto;
    @include resp(900px) {
        width: 80%;
    }
    &__symptomes1 {
        @include symb;
        margin-top: 15px;
        &--element1 {
            img {
                margin: 15px;
            }
        }
    }
    &__symptomes2 {
        @include symb;
        &--ele2 {
            img {
                margin-top: 15px;
            }
        }
    }
}